<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <p>
            company_name:<%= company_name %>
        </p>
        <br>
        <p>
            booking_id:<%= booking_id %>
        </p>
        <div class="container">
            <img src="/images/search-OOCL.png">
        </div>
    </body>
    
</html>